@using MyCloud;

<h2>Dirs</h2>
<table id="fancytable">
	<thead>
	<tr>
		<th>Name</th>
		<th>Size</th>
		<th>CreationDate</th>
		<th>LastWriteTime</th>
		<th>LastAccessTime</th>
	</tr>
	</thead>
	@{
		DirModel rootDir = (ViewData["RootDir"] as DirModel);
	}
	@if (rootDir.HasParent) {
		<tr>
			<td><a href="?PathName=@rootDir.EncodedParent">..</a></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	}

	@{
	bool odd = false;
    foreach (var dirModel in rootDir.SubDirs) {
    	odd = !odd;
    	<tr class="@(odd?"alt":"")">
        	<td><a href="?PathName=@dirModel.EncodedFullName">@dirModel.Dir.Name</a></td>
        	<td></td>
        	<td>@dirModel.Dir.CreationTime</td>
        	<td>@dirModel.Dir.LastWriteTime</td>
        	<td>@dirModel.Dir.LastAccessTime</td>
        </tr>
       
    	
    	}
    }

</table>
<h2>Files</h2>
<table id="fancytable">
	<thead>
	<tr>
		<th>Name</th>
		<th>Size</th>
		<th>CreationDate</th>
		<th>LastWriteTime</th>
		<th>LastAccessTime</th>
	</tr>
	</thead>
	@{
	odd = false;
    foreach (var fileModel in (ViewData["RootDir"] as DirModel).Files) {
    	odd = !odd;
        <tr class="@(odd?"alt":"")">
        	<td><a href="../Download/?FileName=@fileModel.EncodedFullName">@fileModel.File.Name </a></td>
        	<td>@fileModel.File.Length</td>
        	<td>@fileModel.File.CreationTime</td>
        	<td>@fileModel.File.LastWriteTime</td>
        	<td>@fileModel.File.LastAccessTime</td>
    	</tr>
    	}
}
</table>



