@using MyCloud;



<h2>Dirs</h2>
<table id="mytable">
	<thead>
	<tr>
		<th>Name</th>
		<th width="100">Size</th>
		<th width="135">CreationDate</th>
		<th width="135">LastWriteTime</th>
		<th width="135">LastAccessTime</th>
	</tr>
	</thead>
	<tbody>
	@{
		DirModel rootDir = (ViewData["RootDir"] as DirModel);
	}
	@if (rootDir.HasParent) {
		<tr>
			<td><a href="?PathName=@rootDir.EncodedParent">..</a></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	}

	@{
    foreach (var dirModel in rootDir.SubDirs) {
    	<tr class="dir">
        	<td><a href="?PathName=@dirModel.EncodedFullName">@dirModel.Dir.Name</a></td>
        	<td></td>
        	<td>@dirModel.Dir.CreationTime</td>
        	<td>@dirModel.Dir.LastWriteTime</td>
        	<td>@dirModel.Dir.LastAccessTime</td>
        </tr>
       
    	
    	}
    }
    </tbody>
</table>

<h2>Files</h2>
<table id="fancytable">
	<thead>
	<tr>
		<th>Name</th>
		<th width="100">Size</th>
		<th width="135">CreationDate</th>
		<th width="135">LastWriteTime</th>
		<th width="135">LastAccessTime</th>
	</tr>
	</thead>
	@{
    foreach (var fileModel in (ViewData["RootDir"] as DirModel).Files) {
        <tr> 
        	<td><a href="../Download/?FileName=@fileModel.EncodedFullName">@fileModel.File.Name </a></td>
        	<td>@fileModel.SizeInMB</td>
        	<td>@fileModel.File.CreationTime</td>
        	<td>@fileModel.File.LastWriteTime</td>
        	<td>@fileModel.File.LastAccessTime</td>
    	</tr>
    	}
}
</table>


